---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/general/homepage/HeroSection.vue";
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroSection />
	</main>
</Layout>

<style></style>
